<div class="container-xl">
  <div class="table-responsive">
    <div class="table-wrapper">
      <div class="table-title">
        <div class="row">
          <div class="col-sm-6">
            <h2>Manage <b>CCTV</b></h2>
          </div>
          <div class="col-sm-6">
            <a href="#addCCTVModal" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i>
              <span>เพิ่มกล้อง</span></a>
            <a href="#deleteAllModal" class="btn btn-danger" data-toggle="modal"><i class="material-icons">&#xE15C;</i>
              <span>ลบกล้อง</span></a>
          </div>
        </div>
      </div>
    </div>
    <app-get #getComp></app-get>
  </div>
</div>
<app-post [getComp]="getComp"></app-post>
<app-put [getComp]="getComp"></app-put>
<app-delete [getComp]="getComp"></app-delete>
<app-delete-all [getComp]="getComp"></app-delete-all>