<!-- Add Modal HTML -->
<div id="addEmployeeModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form (submit)="onSubmit()" [noValidate]="false">
                <div class="modal-header">
                    <h4 class="modal-title">Add Employee</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>เลขครุภัณฑ์</label>
                        <input type="text" class="form-control" required placeholder="เลขครุภัณฑ์" 
                        [(ngModel)]="model.durable_no" name="durable_no">
                    </div>
                    <div class="form-group">
                        <label>รายการ</label>
                        <input type="text" class="form-control" required placeholder="รายการ" 
                        [(ngModel)]="model.durable_name" name="durable_name">
                    </div>
                    <div class="form-group">
                        <label>ยี่ห้อ</label>
                        <input type="text" class="form-control" required placeholder="ยี่ห้อ" 
                        [(ngModel)]="model.brand" name="brand">
                    </div>
                    <div class="form-group">
                        <label>สถานที่</label>
                        <input type="text" class="form-control" required placeholder="สถานที่" 
                        [(ngModel)]="model.location" name="location">
                    </div>
                    <div class="form-group">
                        <label>ชั้น</label>
                        <select class="custom-select" [(ngModel)]="model.floor" name="floor">
                            <option value="" >กรุณาเลือกชั้น</option>
                            <option *ngFor = "let item of floorItems" value="{{item.floor_id}}">{{item.floor_name}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>สถานะ</label>
                        <select class="custom-select" [(ngModel)]="model.status" name="status">
                            <option value="" >กรุณาเลือกสถานะ</option>
                            <option *ngFor = "let item of statusItems" value="{{item.status_id}}">{{item.status_name}}</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                    <input type="submit" class="btn btn-success" value="Add">
                </div>
            </form>
        </div>
    </div>
</div>
